@import "_variables.sass"

// Columns (-col * margin-space + margin-space + 100) / col

@mixin column($height, $col)
    float: left
    background-color: #ddd
    color: #fff
    margin-bottom: $margin
    position: relative
    width: (-$col*$margin+$margin+100)/$col
    &:after
        padding-top: $height
        display: block
        content: ''

// For Each 12 Column Row
$columns: ("twelve": 12, "six": 6, "four": 4, "three": 3, "two": 2, "one": 1)

@each $name, $col in $columns
    .column-#{$name}
        @include column(70%, $col)
        @media (max-width: $max_bwidth)
            @if $col == 12
                width: (-($col/2)*$margin+$margin+100)/($col/2)
        @media (max-width: $med_bwidth)
            @if $col == 12
                width: (-($col/4)*$margin+$margin+100)/($col/4)
            @else if $col == 6
                width: (-($col/2)*$margin+$margin+100)/($col/2)
            @else if $col == 4
                width: (-($col/2)*$margin+$margin+100)/($col/2)
            @else if $col == 3
                width: 100%
            @else if $col == 2
                width: 100%
        @media (max-width: $min_bwidth)
            width: 100%