@import "sass/_columns.sass"
@import "sass/_typography.sass"
@import "sass/_variables.sass"

// Fluidesign System

body
  font-family: Arial, Helvetica, sans-serif
  padding: 0
  margin: 0
  @include fluid-type(16px, 24px)

.row
  //background-color: #4f8aff
  overflow: hidden
  max-width: 1136px
  margin: auto
  display: flex
  justify-content: space-between
  flex-wrap: wrap